#info {
  min-height: 500px;
}
#info .image{
  width:35em;
  position: absolute;
  top: 626px;
  left: 54em;
  height:25em;
  background-color: red;
  z-index: 2;
}
#info .square{
  position: absolute;
  top:610px;
  left: 55em;
  width:35em;
  height: 25em;
  background-color: white;
  border: 1px solid darkturquoise;
  z-index: 1;
}
#info .text{
  position: absolute;
  top:660px;
  width: 30em;
  height: 22.9em;
  background-color: white;
  z-index: 3;
}
#history{
  min-height: 300px;
}
#history .carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}
#history .year{
  font-size: 2em;
  border-bottom: 2px solid darkturquoise;
}
#history .year-info{
  display: inline-grid;
  width:60%;
  margin-top: 1.5em;
}
#semi-footer .box{
  background-color: #F0F0F0;
  height: 20em;
}
#semi-footer .text{
  font-size: 17px!important;
  font-style: normal!important;
  line-height: 25px;
}
/* Pisando bootstrap */
.container{
  padding-left:0px!important;
  padding-right:0px!important;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%0A247B' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%0A247B' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
